@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel=" stylesheet" href="./css/bootstrap.min.css" />
    <link rel=" stylesheet" href="./css/site.css"/>
    <style>
        .carousel-item img {
            background-size: contain;
            width: 75%;
            height: 75%;
        }
        .carousel-item img {
            background-size: contain;
            width: 35%;
            height: 35%;
        }

        body {
            background-image: url("https://img.freepik.com/vector-premium/mujer-almacen-comprobando-niveles-inventario-mercancias-estanteria_327176-153.jpg?w=2000");
            background-size: cover;
            background-repeat: no-repeat;
            background-color: rgba(255, 255, 255, 0.5);
        } 

        .image {
            cursor: pointer;   
    </style>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4"><b>Módulo de Inventario</b></h1>
        <br/>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>  
        <div class="carousel-inner">
            <div class="carousel-item active" align="center">
                <img src="https://www.microtech.es/hubfs/Fotos%20blog/inventario.jpg" class="d-block w-50" alt="...">

                <div class="carousel-caption d-none d-md-block">
                     <h5></h5>
                </div>
            </div>
            <div class="carousel-item" align="center">
                <img src="https://cdn-icons-png.flaticon.com/512/513/513898.png" class="d-block"
                     alt="..." onclick="location.href='https://appwebinventario.azurewebsites.net/Productos';">
                <div class="carousel-caption d-none d-md-block">
                    <br/>
                    <h5 style="color:white"><b>Productos</b></h5>
                </div>
            </div>
            <div class="carousel-item" align="center">
                <img src="https://cdn-icons-png.flaticon.com/512/743/743007.png" class="d-block"
                     alt="..." onclick="location.href='https://appwebinventario.azurewebsites.net/Categorias';">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color:black"><b>Categorías</b></h5>
                </div>
            </div>      
            <div class="carousel-item" align="center">
                <img src="https://cdn-icons-png.flaticon.com/512/2897/2897785.png" class="d-block"
                     alt="..." onclick="location.href='https://appwebinventario.azurewebsites.net/AjusteDetalles';">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color:black"><b>Ajustes</b></h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>        
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</body>

@section Scripts {
    <script>
    $('.carousel').carousel(
        interval: 2000
    )
    </script>
}
